body{
    
    font-size: large;
}
#container{
    background-image: url("../assets/sfondo.jpeg") ;
   
    background-size: 30%;
    width: 100vw;
    height: 100vh;
}
#container h1{
    font-size: 250px;
    position: absolute;
    
    right: 250px;
    bottom: 30px;
    color: rgb(183, 32, 9);
}
#container input{
    font-size: 50px;
    cursor: pointer;
    position: absolute;
    bottom: 550px;
    right: 320px;
}